@import '~antd/dist/antd.css';


/*.body-container{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}*/
.body-container{
	padding: 30px;
}


.contain{
	display: flex;
}
.ripple{
	position: absolute;
}

.ripple-mod{
	position: absolute;
}

.spiral {
	position: absolute;
}


.container{
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	width:440px;
	height:440px;
}

.container-spiral{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
}


.btn-spiral{
	height:100px;
	width:100px;
	border-radius: 0;
}

.btn-spiral:hover{
	background-color: #f5222d;
	color:#fff;
	border-color: #f5222d;
}

.btn-spiral:focus{
	background-color: #f5222d;
	color:#fff;
	border-color: #f5222d;
	outline-color: #f5222d;
}

.btn-text-spiral{
	position: absolute;
	top:50%;
	left:50%;
	font-size: 20px;
	transform: translate(-50%,-50%);
}

.btn-0{
	height:40px;
	width:40px;
	border-radius: 0;
}

.btn-1{
	height:40px;
	width:40px;
	border-radius: 0;
	background-color: #000;
	color: #fff;
}

.btn-1:focus{
	height:40px;
	width:40px;
	border-radius: 0;
	background-color: #000;
	color: #fff;
}



.btn:hover{
	height:40px;
	width:40px;
	border-radius: 0;
	background-color: #4286f4;
	color:#fff;
}

.btn-text{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.reset{
	position: relative;
}

/*
<div className="ripple">
          Ripple
          <Ripple />
        </div>*/

        /*style={{ backgroundColor:"#"+value.toString()+value.toString()+value.toString() }}*/